body{
     font-family: "Poppins", sans-serif;

}

.navbar {
  width: 94vw;
  height: 70px;
  background: #ffffff;
  display: flex;
  align-items: center;
  padding: 0 40px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.10);
  position: sticky;
  top: 0;
  z-index: 10;
    

}

/* Flex row: Icon + Title */
.navbar-left {
  display: flex;
  align-items: center;
  gap: 12px;
}

/* Icon style */
.nav-icon {
  font-size: 28px;
  color: black;
}

/* Title style */
.navbar-left h2 {
  font-size: 24px;
  font-weight: 600;
}
