/* Whole page layout */
.employee-page {
  padding: 30px 60px;
  font-family: "Inter", sans-serif;
}

/* Header */
.employee-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.employee-header h2 {
  font-size: 30px;
  font-weight: 700;
}

/* Add Employee button */
.employee-header button {
  background-color: #0cb881;
  color: #fff;
  border: none;
  padding: 10px 22px;
  font-size: 15px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.15s;
}

.employee-header button:hover {
  background-color: #0a9f6e;
}

/* --- TABLE CARD CONTAINER (main card) --- */
table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 0px 6px 25px rgba(0, 0, 0, 0.12);
}

/* Table Header */
table thead {
  background-color: #f5f6f8;
  text-align: center;
}

table th {
  text-align: center;
  padding: 16px;
  font-size: 14px;
  color: #555;
  font-weight: 600;
}

/* Table Body */
table td {
  padding: 18px 16px;
  font-size: 15px;
    text-align: center;

  color: #333;
  border-bottom: 1px solid #e8e8e8;
}

/* Remove border bottom from last row */
table tbody tr:last-child td {
  border-bottom: none;
}

/* Update Button */
.update-bt {
  background-color: #1d4ed8;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  margin-right: 10px;
  font-weight: 600;
  transition: 0.15s;
}

.update-bt:hover {
  background-color: #1e40af;
}

/* Delete Button */
.delete-btn {
  background-color: #e11d48;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.15s;
}

.delete-btn:hover {
  background-color: #be123c;
}
